body
{   
    font-family:Arial,
    Helvetica,sans-serif;
    background:#1e71c4;
    margin-right: 400px;

    background-image: url('/static/background-img.png');
    background-size:cover;
    color:#222}
.container
{
    
    max-width:600px;
    color: beige;
    padding: 60px;
    margin-top: 80px;
    margin-left: 80px;
    max-width: 500px;
   background-color: cadetblue;
    border-radius:8px;
    box-shadow:0 12px 18px rgba(0,0,0,0.06)}
.container:hover{
    border-radius: 50px
}
h1{
    margin-top:0;
    text-align: center;
    font-family: inherit;
    font-weight: 700;
     font-size: x-large; 
    padding-bottom: 20px;
}

form{
    display:flex;
    gap:12px;
    align-items:left}
input[type=file]{
    flex:1}
button{
    background:#2b6cb0;
    color:#fff;
    padding:8px 14px;
    border-radius:6px;
    border:0}
table{
    width:100%;
    border-collapse:collapse;
    margin-top:12px}
th,td{border:1px solid #e4e6eb;padding:10px;text-align:left}



 

 